*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: poppins;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffc61f;
}

.accordion{
    max-width: 530px;
    width: 100%;
    background: #fff;
    margin: 0 15px;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0,0,0,0.2);
}

.accordion .accordion-content{
    background: #ffc61f;
    border: 1px solid #FFD6B3;
    border-radius: 4px;
    margin: 10px 0;
    overflow: hidden;
}

.accordion .accordion-content:nth-child(2){
    background: #F0FAFF;
    border-color: #CCEEFF;
}

.accordion .accordion-content:nth-child(3){
    background: #ffc61f;
    border-color: #FFCCD6;
}

.accordion .accordion-content:nth-child(4){
    background: #F0F0FF;
    border-color: #CCCCFF;
}

.accordion-content.open{
    padding-bottom: 10px;
}
.accordion-content header{
    display: flex;
    min-height: 50px;
    padding: 0 15px;
    cursor: pointer;
    align-items: center;
    justify-content: space-between;
    transition: all 0,3s linear;
}

.accordion-content.open header{
    min-height: 35px;
}

.accordion-content .title{
font-size: 14px;
font-weight: 500;
color: #333;
}

.accordion-content i{
    font-size: 15px;
    color: #333;
}

.accordion-content .desc{
font-size: 12px;
columns: #333;
font-weight: 400;
 padding: 0 15px;
 height: 0px;
 transition: all 0.2s linear;
}